PORT=5033
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/telemedicinedb
JWT_ACCESS_SECRET=your_jwt_secret_here
INTERNAL_SERVICE_SECRET=your_internal_secret_here
PATIENT_SERVICE_URL=http://localhost:5028
DOCTOR_SERVICE_URL=http://localhost:5029
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_EXCHANGE=smart_health.events
JITSI_BASE_URL=https://meet.jit.si
