PORT=5028
NODE_ENV=development
CLIENT_URL=http://localhost:8080
MONGODB_URI=mongodb+srv://admin:123@cluster0.9pl6rst.mongodb.net/admin_db?retryWrites=true&w=majority&appName=Cluster0
JWT_ACCESS_SECRET=sasuke
INTERNAL_SERVICE_SECRET=super_internal_secret
APPOINTMENT_SERVICE_URL=http://localhost:5027
DOCTOR_SERVICE_URL=http://localhost:5029
REPORT_MAX_FILE_SIZE_MB=10
CLOUDINARY_CLOUD_NAME=dbcuhn1bi
CLOUDINARY_API_KEY=353337125652862
CLOUDINARY_API_SECRET=r1vBj2s5-r0YPMsy1Bj5LtRUPgU
CLOUDINARY_REPORTS_FOLDER=smart-health/patient-reports
