PORT=5034
NODE_ENV=development
CLIENT_URL=http://localhost:8080
MONGODB_URI=mongodb://localhost:27017/payment_db
JWT_ACCESS_SECRET=change_me
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_EXCHANGE=smart_health.events
INTERNAL_SERVICE_SECRET=change_me
